/* Generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(49, 49, 49) !important;
  color: white !important;
  font-family: "Montserrat", sans-serif !important;
}

h2 {
  font-size: 2.25em !important;
  margin-bottom: 1em !important;
  text-transform: uppercase;
  font-weight: bold;
}

p {
  font-size: 1.25em !important;
}


/* HEADER*/

header {
  background-color: black;
}

header nav {
  padding: 2em !important;
}

header nav li {
  font-size: 1.25em !important;
}

header a {
  color: white !important;
}

.home-li i {
  color: white !important;
  transition: all 0.3s ease-in-out;
}

.logout-li i {
  color: white !important;
  font-size: 1.5em !important;
  transition: all 0.3s ease-in-out;
}

.logout-li button:hover i, .home-li a i:hover {
  color: #3c9f2f !important;
}

#logo {
  background-image: url('/storage/static-images/logo.webp');
  background-size: cover;
  background-position: center;
  width: 200px !important;
  height: 100px !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: 2px solid #3c9f2f !important;
}

/*crud*/
.encabezados {
  background-color: #3c9f2f !important;
  color: white !important;
  font-weight: bold !important;
  font-size: 1.25em !important;
}

th {
  background-color: #3c9f2f !important;
  color: white !important;
  font-weight: bold !important;
}

td{
    background-color: rgb(109, 77, 22) !important;
    color: white !important;
    word-break: break-word;
    max-width: 150px;
}

.links-nav-paginacion p {
  color: white !important;
}

.pagination .active span {
  background-color: #3c9f2f !important;
  border-color: #3c9f2f !important;
  color: white !important;
}

.page-link {
  background-color: #6d4d16 !important;
  color: white !important;
}

.iconos-acciones a {
  font-size: 1.2em !important;
}

.iconos-acciones .borrar {
  background-color: red !important;
  transition: all 0.2s ease-in-out;
  border: none;
}

.iconos-acciones .editar, .editar-crud {
  background-color: rgb(32, 129, 190) !important;
  transition: all 0.2s ease-in-out;
  border: none;
}

.iconos-acciones .borrar:hover, .iconos-acciones .editar:hover, .crear-crud:hover, .editar-crud:hover, .borrar-crud:hover {
  background-color: #3c9f2f !important;
}

.crear {
  font-size: 1.2em !important;
}

.crear, .crear-crud {
  background-color: #3c9f2f !important;
  transition: all 0.2s ease-in-out;
  border: none !important;
}

.crear:hover, .crear-crud:hover{
  background-color: rgb(32, 129, 190) !important;
}

form label {
  font-size: 1.25em !important;
  font-weight: bold;
  margin: 0.5em 0 !important;
}

.editar-crud, .crear-crud, .borrar-crud {
  font-size: 1.2em !important;
  font-weight: bold !important;
  text-transform: uppercase;
  border: none !important;
}

/*DASHBOARD*/
.lista-dashboard {
  font-size: 1.5em !important;
}

.lista-dashboard a{
  color: white !important;
  transition: all 0.3s ease-in-out;
  font-weight: bold;
  text-transform: uppercase;
}

#dashboard p a {
  font-size: 1.5em !important;
  color: #3c9f2f !important;
  transition: all 0.3s ease-in-out;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

#dashboard p a:hover {
  color: #1fff02 !important;
}

.lista-dashboard a:hover {
  color: #3c9f2f !important;
}

@media screen and (max-width: 575px) {
        .links-nav-paginacion {
            display: flex !important;
            justify-content: center !important;
            align-items: center !important;
        }

 }